<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huchengzhen.cohen.mapper.UserMapper">
    <select id="findUserById" resultType="com.huchengzhen.cohen.pojo.User">
        select id, username, email, create_date, last_login_date, roles
        from user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.huchengzhen.cohen.pojo.User">
        insert into user(id, username, email, password, create_date, last_login_date, roles)
        values (null, #{username}, #{email}, #{password}, #{createDate}, #{lastLoginDate}, #{roles})
    </insert>

    <select id="loadUserByUsername" resultType="com.huchengzhen.cohen.pojo.User">
        select id,
               username,
               email,
               password,
               create_date,
               last_login_date,
               roles,
               enabled
        from user
        where username = #{username}
    </select>

    <delete id="deleteUserById" parameterType="Integer">
        delete
        from user
        where id = #{id}
    </delete>

    <update id="updateLastLoginDate">
        update user
        set last_login_date=#{date}
        where id = #{id}
    </update>

    <select id="queryAll" resultType="com.huchengzhen.cohen.pojo.User">
        select id,
               username,
               email,
               create_date,
               last_login_date,
               roles,
               enabled
        from user
    </select>
</mapper>