<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huchengzhen.cohen.mapper.UserMapper">
    <select id="findUserById" resultType="com.huchengzhen.cohen.pojo.User">
        select id, user_name, email, create_date, last_login_date
        from user
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.huchengzhen.cohen.pojo.User">
        insert into user(id, user_name, email, password_hash, create_date, last_login_date)
        values (null, #{userName}, #{email}, #{passwordHash}, #{createDate}, #{lastLoginDate})
    </insert>
</mapper>